.vscode
.env
.DS_Store
node_modules
node_modules/*
package-lock.json
src/public/audio/*
src/config/database.js
src/database/db.sqlite
src/config/env.json
src/config/keys.json
src/upload/images/*.jpg
src/upload/sounds/*.mp3
src/upload/music
build-and-push.sh
pense_bete.txt