<div id="main_download">

    <div id="main_download-left">
        <div id="main_download-form">
            <div class="form-group">
                <label for="url">
                    Url
                </label>
                <input name="url" type="text" placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            </div>
            <div class="form-group">
                <label for="title">
                    Titre
                </label>
                <input name="title" type="text" placeholder="Rick Astley - Never Gonna Give You Up">
            </div>

            <button data-btn-add-list="" class="main-btn">
                Ajouter à la liste
            </button>
        </div>

        <div id="waiting-msg">
            {{!-- Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Incidunt sequi laborum
            nobis saepe omnis temporibus vero inventore
            minus nulla similique. --}}
        </div>
    </div>



    <div id="main_download-list">
        <ul data-slyher-list="" >
            {{!-- <li>
                <div>
                    <h3>
                        Rick Astley - Never Gonna Give You Up
                    </h3>
                    <p>
                        https://www.youtube.com/watch?v=dQw4w9WgXcQ
                    </p>
                </div>
                <div class="trash-list">
                    <button data-trash="">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </li> --}}
        </ul>

        <div id="download-list-btn">
            <button class="main-btn">
                Télécharger la liste
            </button>
            <button class="main-btn">
                Vider la liste
            </button>
        </div>
    </div>
</div>

<script type="module" src="/js/download.mjs"></script>