#main_library {
    display: flex;
    flex-direction: column;
	height: 100vh;
    overflow: hidden;
    background-color: #151414;
}

#nav-library {
    background-color: #151414;
    display: flex;
    align-items: center;
    padding: 12px 0px;
    height: 66px;

    .conteinr-btn-list {
        display: flex;
        align-items: center;
        width: max-content;
        height: max-content;

        .btn-style-list {
            position: relative;
            cursor: pointer;
            height: 50px;
            width: 50px;
            font-size: 18px;

            i {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                z-index: 1000;
                color: rgba(245, 245, 245, 0.3);
            }

            svg {
                position: absolute;
                top: 0px;
                left: 0px;
                fill: transparent;
                height: 50px;
                width: 50px;
            }
        }

        .btn-style-list:hover svg {
            fill: #252525;
        }

        .btn-style-list.active {
            i {
                color: var(--rouge);
            }
        }
    }
}

#library_sounds {
    padding: 6px 0px;
    padding-bottom: 10px;
}

.grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 60px);

    li {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 4px;
        border-radius: 4px;
        min-height: max-content;
        max-width: 196px;
        min-width: 140px;
        overflow: hidden;

        button {
            display: none;
            position: absolute;
            cursor: pointer;
            top: 8px;
            right: 8px;
            height: 32px;
            width: 32px;
            border-radius: 4px;
            background-color: red;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.26) 0px 6px 6px;

            &:active {
                transform: scale(.96);
            }

            &:active i {
                transform: scale(1.03);
            }

            i {
                font-size: 16px;
                color: whitesmoke
            }
        }

        &:hover button {
            display: block;
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 4px;
        }

        h2 {
            text-align: center;
            font-size: .9em;
            line-height: 1.2em;
            display: inline-block;
            width: 100%;
            word-wrap: break-word;
            margin-bottom: 0px;
        }
    }
}

.list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 60px);

    li {
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        border-radius: 4px;
        min-height: max-content;
        width: 32%;
        padding: 0px;
        height: 40px;
        min-width: 300px;
        overflow: hidden;
        background-color: #1e1e1e;

        button {
            display: none;
            position: absolute;
            cursor: pointer;
            /* top: 4px; */
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            height: 32px;
            width: 32px;
            border-radius: 4px;
            background-color: red;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.26) 0px 6px 6px;

            &:active {
                transform: translateY(-50%) scale(.96);
            }

            &:active i {
                transform: scale(1.03);
            }

            i {
                font-size: 16px;
                color: whitesmoke
            }
        }

        &:hover button {
            display: block;
        }

        img {
            width: 14%;
            border-radius: 4px;
        }

        h2 {
            display: flex;
            width: 80%;
            text-align: left;
            font-size: .9em;
            line-height: 1.1em;
            max-height: 60px;
            word-wrap: break-word;
            margin-bottom: 0px;
        }
    }
}


@media screen and (max-width: 1195px) {
    .list {
        li {
            width: 49%;
        }
    }
}

@media screen and (max-width: 890px) {
    .list {
        li {
            width: 99%;
        }
    }
}