#main_playlist {
    display: flex;
    flex-direction: column;
	height: 100vh;
    overflow: hidden;
    background-color: #151414;
}

#nav-playlist {
    background-color: #151414;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding: 12px 0px;
    height: 80px;
    gap: 10px;

    h2 {
        margin: 0px;
    }
}

#content_playlist {
    display: flex;
    /* background-color: #242424; */
    height: 100%;
    max-height: calc(100vh - 80px);

    .playlist_form {
        display: flex;
        flex-direction: column;
        padding: 20px 10px 20px 0px;
        width: calc(100% - 500px);

        .select_track_right {
            align-self: flex-end;
            overflow: hidden;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 16px;
            font-size: 20px;
            border-radius: 4px;
            margin-bottom: 20px;
            padding: 16px 24px;
            border: 1px dashed var(--rouge);
            background-color: rgba(199, 23, 23, .2);
            text-align: center;
        }

        button {
            align-self: flex-end;
        }
    }
}

#list-playlist {
    background-color: #1e1e1e;
    z-index: 1000;
    height: calc(100% - 48px);
    width: 500px;
    min-width: 300px;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
    border-radius: 4px;
    margin-top: 48px;

    ul {
        height: auto;
        min-height: max-content;
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 100%;
        padding: 4px;

        li {
            position: relative;
            cursor: pointer;
            user-select: none;
        	background-color: #151414;
            display: flex;
            align-items: center;
            gap: 10px;
            height: 60px;
            width: 100%;
            overflow: hidden;
            padding: 0 12px;
            border-radius: 4px;
            border: 1px solid transparent;
            color: whitesmoke;

            &[selected] {
                background: linear-gradient(to right, #151414 40%, var(--rouge) 100%);
                border: 1px solid var(--rouge);
                box-shadow: var(--rouge) 0px 0px 2px 0px, var(--rouge) 0px 0px 2px 0px;

                &:before {
                    content: "";
                    position: absolute;
                    left: -14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 20px;
                    width: 20px;
                    border-radius: 2px;
                    transform: rotate(45deg);
                    background-color: var(--rouge);
                }
            }

            img {
                height: 36px;
            }

            p {
                line-height: 20px;
                font-size: 14px;
            }
        }
    }
}

#existing_playlist {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .playlist {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
        min-width: min-content;
        gap: 30px;
        background-color: #1e1e1e;
        transition: transform 0.3s ease;
        border-radius: 6px;
        padding: 10px 24px;
        height: 140px;

        &:hover .bloc_img {
            transform: rotateZ(-10deg);
        }

        &:hover .bloc_img img {
            transform: scale(1.05) translateX(calc(var(--i) * 8px)) rotateZ(calc(var(--i) * 10deg));
        }

        &:hover h3 {
            transform: translateX(20px);
        }

        .bloc_img {
            position: relative;
            height: 80%;
            aspect-ratio: 1/1;
            transform: rotateZ(-3deg);
            transition: transform 0.3s ease;

            &:hover {
                transform: rotateZ(-9deg);
            }

            &:hover img {
                transform: scale(1.05) translateX(calc(var(--i) * 8px)) rotateZ(calc(var(--i) * 6deg));
            }

            img {
                border-radius: 4px;
                position: absolute;
                height: 100%;
                aspect-ratio: 1/1;
                transform: translateX(calc(var(--i) * 8px)) rotateZ(calc(var(--i) * 2deg));
                z-index: calc(10 - var(--i));
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                transition: transform 0.3s ease;
            }
        }

        h3 {
            font-size: 1.6rem;
            transition: transform 0.3s ease;

            span {
                color: var(--rouge);
            }
        }

    }


}