#list-player {
	background-color: #1e1e1e;
    z-index: 1000;
    height: 100%;
    width: 500px;
    min-width: 300px;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2px 0px 0px 0px;

    ul {
        height: auto;
        min-height: max-content;
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 100%;
        padding: 4px;

        li {
            cursor: pointer;
            user-select: none;
        	background-color: #151414;
            display: flex;
            align-items: center;
            gap: 10px;
            height: 60px;
            width: 100%;
            overflow: hidden;
            padding: 0 12px;
            border-radius: 4px;
            border: 1px solid transparent;
            color: whitesmoke;

            img {
                height: 36px;
            }

            p {
                line-height: 20px;
                font-size: 14px;
            }

            &.active {
                background: linear-gradient(to right, #151414 25%, var(--i) 100%);
                border: 1px solid var(--i);
                box-shadow: var(--i) 0px 0px 2px 0px, var(--i) 0px 0px 2px 0px;
            }

            &:hover {
                background: linear-gradient(to right, #151414 25%, var(--i) 100%);
                border: 1px solid var(--i);
                box-shadow: var(--i) 0px 0px 2px 0px, var(--i) 0px 0px 2px 0px;
            }
        }

    }
}

#player-bloc {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#main_bloc {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    height: 84vh;
    max-height: 84vh;
    min-height: 84vh;
    background-repeat: no-repeat;
    background-size: 110vh;
    border-radius: 0px 0px 0px 16px;
    border-bottom: 1px solid var(--trackColor);
    border-left: 1px solid var(--trackColor);
}

#left_bloc {
    position: relative;
    overflow: hidden;
    padding: 10px 4px;
    padding: 0px;
    width: calc(100% - 500px);

    backdrop-filter: blur(100px);
}

#nav_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    button {
        visibility: hidden;
        height: 100%;
        width: 50px;

        i {
            font-size: 20px;
            color: white;
        }
    }
}

#left_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 90%;
    /* padding-right: 14vw;  */
}

#name_sound {
    display: inline-block;
    text-align: center;
    user-select: none;
    width: 26vw;
    font-size: 20px;
    font-weight: 500;
    color: var(--color);
}

#player_img {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10px;
    transform: scale(1.2);
    filter: blur(100px);
    z-index: 10;
}

#main_img {
    width: 26vw;
    user-select: none;
    aspect-ratio: 1 / 1;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#controls_player {
    position: relative;
    display: flex;
    overflow: hidden;
    z-index: 1000px;
    background-color: #151414;
    height: 150px;
}

#little_jaquette {
    height: 100%;
    margin-right: 20px;
}

#controls {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: calc(100% - 500px);
    min-width: 500px;
    padding: 10px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 70px;
}

.controls button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    color: white !important;
}

.controls .player-btn:active {
    transform: scale(.94);
}

.progress {
    display: flex;
    align-items: center;
    gap: 10px;
}

.progress p {
    color: rgba(190, 194, 197, 0.8);
}

.progress input[type="range"] {
    cursor: pointer;
    width: 99%;
}

input {
    accent-color: var(--trackColor);
}

input[type="range"]:focus,
.controls button:focus {
    outline: none;
}

.player-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
}

.order-play {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 100px;
}

.order-play i {
    font-size: 24px;
}

.order-play p {
    display: none;
}

#boucle {
    margin-left: -8px;
}

#random {
    margin-right: -8px;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.player-btn svg {
    position: absolute;
    width: 80px;
    height: 80px;
    fill: white;
}

.player-btn i.fa-pause,
.player-btn i.fa-play {
    position: absolute;
    color: #151414;
}

#pause,
#play {
    transform: scale(.80);
}

#play i {
    margin-right: -6px;
}

.player-btn i {
    font-size: 20px;
}

.player-btn.xl {
    height: 80px;
    width: 80px;
}

.player-btn.xl i {
    font-size: 34px;
}

.player-btn.md {
    height: 60px;
    width: 60px;
    border-radius: 100px;
}

.player-btn.md svg {
    position: absolute;
    width: 60px;
    height: 60px;
    fill: transparent;
}

.player-btn.md:hover svg {
    fill: #252525;
}

.player-btn.md:hover i {
    position: absolute;
    color: white;
}

.player-btn.md i {
    font-size: 24px;
}

.player-btn p {
	display: none;
}

.order-play i {
    transform: scale(.85);
}

.order-play i {
    color: rgba(245, 245, 245, 0.3);
}

.order-play.active i {
    color: var(--rouge);
}

.order-play.active::after {
    position: absolute;
    bottom: 0px;
    content: "•";
    color: var(--rouge);
}

.order-play:hover i {
    color: #c717178b !important;
}

.order-play.active:hover i {
    color: var(--rouge) !important;
}

#boucle:active {
    transform: scale(.85) rotateZ(360deg) !important;
}

.none {
    display: none !important;
}


@media (max-width: 740px) {
    #main_bloc {
        border-radius: 0px 0px 0px 4px;
    }

    #controls {
        padding: 10px 10px 10px 0px;
    }
}