@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Medula+One&display=swap');
@import url("root.css");
@import url("reset.css");

@import url("main_layout.css");
@import url("download_pages.css");
@import url("library_pages.css");
@import url("player_pages.css");
@import url("login_pages.css");


* {
    scrollbar-width: none;
	-ms-overflow-style: none;
    /* scrollbar-color: rgb(30, 30, 30) rgb(255, 255, 255, .1); */
    scrollbar-color: #C71A1A rgb(255, 255, 255, .1);
}

*::-webkit-scrollbar {
    width: 8px;
    height: 10px;
	display: none;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .1);
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgb(30, 30, 30);
    background-color: #670c0c;
}

::selection {
    background-color: transparent;
    color: transparent;
}