<meta charset="UTF-8">
{{!-- <link rel="icon" href="/img/favicon_slyhear.svg"> --}}
<link rel="icon" href="/img/fav_slyhear.svg">


<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{!-- Fontawesome --}}
<link  href="/plugins/fontawesome/fontawesome-all.min.css" rel="stylesheet" />
{{!-- Toastify --}}
<link href="/plugins/toastify/toastify.css" rel="stylesheet"/>
<script src="/plugins/toastify/toastify.js"></script>


{{!-- CUSTOM --}}
<link rel="stylesheet" href="/css/style.css">
<script defer type="module" src="/js/main.mjs"></script>


<title>Slyhear</title>