<!DOCTYPE html>
<html lang="fr">
<head>
    {{> head}}
</head>
<body>
    <div id="menu">
        <div>
            <img src="/img/logo_sly.svg" alt="Slyhear logo">
            <h1>
                Slyhear
            </h1>
        </div>

        <nav>
            <ul>
                <li id="player" data-nav="nav-btn">
                    <a href="/player">
                        <i class="fas fa-compact-disc"></i>
                        {{!-- <i class="fas fa-play"></i> --}}
                        <p>
                            Lecteur
                        </p>
                    </a>
                </li>
                <li id="library" data-nav="nav-btn">
                    <a href="/library">
                        {{!-- <i class="fas fa-layer-group"></i> --}}
                        <i class="fas fa-music"></i>
                        <p>
                            Bibliothèque
                        </p>
                    </a>
                </li>

                <li id="playlists" data-nav="nav-btn">
                    <a href="">
                        <i class="fas fa-stream"></i>
                        <p>
                            Listes de lecture
                        </p>
                    </a>
                </li>

                {{!-- <li id="upload" data-nav="nav-btn">
                    <a href="/upload">
                        <i class="fas fa-file-import"></i>
                        <p>
                            Déposer
                        </p>
                    </a>
                </li> --}}

                <li id="download" data-nav="nav-btn">
                    <a href="/download">
                        <i class="fas fa-download"></i>
                        <p>
                            Télécharger
                        </p>
                    </a>
                </li>

                <li id="logout" data-nav="nav-btn">
                    <span>
                        <i class="fas fa-sign-out-alt"></i>
                        <p>
                            Se déconnecter
                        </p>
                    </span>
                </li>

                <li id="settings" data-nav="nav-btn">
                    <a href="">
                        <i class="fas fa-cog"></i>
                        <p>
                            Paramètres
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <section>
        <main>
            {{{body}}}
        </main>
    </section>
</body>
</html>