<!DOCTYPE html>
<html lang="fr">
<head>
    {{> head}}
</head>
<body>
    <div id="menu">
        <div>
            <img src="/img/logo_slyhear.svg" alt="Slyhear logo">
            <h1>
                Slyhear
            </h1>
        </div>

        <nav>
            <ul>
                <li id="home" data-nav="nav-btn">
                    <a href="/home">
                        <i class="fas fa-home"></i>
                        <p>
                            Accueil
                        </p>
                    </a>
                </li>
                <li id="library" data-nav="nav-btn">
                    <a href="#">
                        <i class="fas fa-folder"></i>
                        <p>
                            Bibliothèque
                        </p>
                    </a>
                </li>
                <li id="upload" data-nav="nav-btn">
                    <a href="#">
                        <i class="fas fa-file-import"></i>
                        <p>
                            Déposer
                        </p>
                    </a>
                </li>
                <li id="download" data-nav="nav-btn">
                    <a href="/download">
                        <i class="fas fa-download"></i>
                        <p>
                            Télécharger
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <section>
        <h2 id="breadcrumb">
            Bienvenu !
        </h2>
        <main>
            {{{body}}}
        </main>
    </section>
</body>
</html>